.header {
  background-image: url("/images/banner.jpg");
  height: 250px;

}

.header h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 48px;
  color: white;
  font-weight: 800;
  link-color:
}
